.yellow {
    margin-bottom: 72px;
    &__col {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 64px;
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
        color: #313030;
        margin-bottom: 30px;
    }

    &__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 64px;
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
        color: #726f6f;
        margin-bottom: 30px;
    }
}